Source: sp19g08newsfeedv1
Section: net
Priority: extra
Maintainer: Sukh Plaha <sp19g08@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/info6005/6005_cw1_2012
#Vcs-Git: git://git.debian.org/collab-maint/info6005cw1.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/info6005cw1.git;a=summary

Package: sp19g08newsfeedv1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php
Description: The web pages allow the user to host BBC News RSS feeds
 The package contains three files: feeds.conf, index.php and rss_php.php.
 These three files will be all that the user needs in order to host some
 news coming from the BBC news RSS feed. These files will all need to be
 stored on a server and accessed over an active internet connection for 
 the RSS feed to be viewed.
