
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_GB]=sp19g08newsfeed
Exec=gnome-terminal -e /usr/bin/index.php
Name=info6005cw1
Comment=sp19g08 - INFO6005 Package Management Coursework
Icon=info
