Source: sp19g08newsfeed
Section: net
Priority: extra
Maintainer: Sukh Plaha <sp19g08@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/info6005/6005_cw1_2012
#Vcs-Git: git://git.debian.org/collab-maint/info6005cw1.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/info6005cw1.git;a=summary

Package: sp19g08newsfeed
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: What is sp19g08newsfeed?
 This package will allow you to simply type 'getnews'
 into terminal to read the latest news from the BBC. The package
 will install four files: index.php, feeds.conf, rss_php.php and 
 the getnews bash file.
