#!/usr/bin/make -f

indexpage = $(CURDIR)/index.php
feeds = $(CURDIR)/feeds.conf
rss = $(CURDIR)/rss_php.php
getnews = $(CURDIR)/getnews
desktopconf = $(CURDIR)/sp19g08newsfeed.desktop

DEST1 = $(CURDIR)/debian/sp19g08newsfeed/usr/bin/

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	#$(MAKE) distclean

	dh_clean

install: build $(indexpage) $(feeds) $(rss) $(getnews) $(desktopconf)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 777 -p $(DEST1)

	install -m 777 $(indexpage) $(DEST1)
	install -m 777 $(feeds) $(DEST1)
	install -m 777 $(rss) $(DEST1)
	install -m 777 $(getnews) $(DEST1)
	install -m 777 $(desktopconf) $(DEST1)

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_bugfiles
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
#	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
